body
{
    text-align: center;
    color: purple;
    background-color: #AAE5A4;
    font-family: Arial, Helvetica, sans-serif;

}


.content
{
    color: magenta;
    height: 50em;
    width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
}

.card
{
    background-color: black;
    border: 10px solid #ff00af;
    border-radius: 20px;
    margin: 10px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}